$font-size: 15px;
$display: inline-block;
$white : #fff;
$black : #000;
$bgHover: #366ca0;
$padding: 10px 20px;
// .container{
//     flex:1;
//     justify-content: space-around;
//     align-items: center;
//     flex-wrap: wrap;
//     // position: relative;
// }
.cardBox{
    // display: inline-block;
    // position: absolute;
    // left:50%;
    // transform: translate(-50%,0);
    // flex:1;
    width:370px;
    height:370px;
    overflow: hidden;
    // margin:0 auto;
    text-align: center;
    padding:10px;
    .cardBoxTitle{
        padding:$padding;
        line-height: $font-size/3*8;
        .cardBoxTitleLeft{
            display: $display;
            font-size:$font-size/5*6;
            font-weight: 600;
        }
        .cardBoxTitleRight{
            display: $display;
            margin-left: 5px; 
            font-size:$font-size;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .cardBoxContent{
        width:100%;
        height:150px;
        img{
            width:100%;
            height:100%;
        }
    }
    .cardBoxFooter{
        line-height: $font-size/5*6;
        padding:$padding;
    }
}

.about{
    margin: 0 auto;
    padding: 10px 20px;
    width:900px;
    .aboutTitle{
        font-size: $font-size /5*8;
        text-align: center;
        padding:10px;
    }
    .aboutContent{
        display: flex;
        align-items: center;
        .aboutContentLeft{
            flex:2;
            margin-right: 20px;
            img{
                width:100%;
            }
        }
        .aboutContentRight{
            flex: 2;
            font-size: $font-size/5*6;
            dl{
                max-width:300px;
                dt{
                    font-weight: 700;
                    height: $font-size/5*9;
                    line-height: $font-size/5*9;
                    
                }
                
            }
        }
    }
}
.mapContainer{
    width:450px;
    height:280px;
}