@import './pageCss.scss';
$font-size: 24px;
$display: inline-block;
$noHover : #fff;
$black : #000;
$bgHover: #366ca0;
$padding: 10px 20px;
.dfjxHeader{
    display: block;
    // position: fixed;
    // top:0;
    padding:20px;
}
.headerLink{
    display:$display;
    padding:$padding;
    background-color:$noHover;
    position: relative;
    color:$black;
    font-size:$font-size;
    font-weight: 700;
    &:hover{
        background-color:$bgHover;
        color:$noHover;
        cursor: pointer;
        .childLink{
            display: block;
            position: absolute;
            top:44px;
            left: 0;
            width: 100%;
            z-index: 7;
            .headerLink{
                border:1px solid #eee;
                display: block;
                font-size:$font-size/3*2;
                font-weight: normal;
            }
        }
    }
}
.childLink{
    display: none;
   
}
.dfjxFooter{
    @include pageCss;
    position: fixed;
    width:100%;
    bottom:0;
    background-color: #0072b9;
    color:$noHover;
    padding:10px 50px;

    font-size:$font-size/8*5;
    line-height: $font-size/4*5;
    div{
        width: 100%;
    }
}